.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
path.line {
    fill: none;
    stroke: rgb(24, 176, 223);
    stroke-width: 1.5;
}
.dot {
    fill: #ffab00;
    stroke: #fff;
}